.formLog{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .form-cont{
        background-color: $body;
      border-bottom:2px grey  solid;
      width: 60%;
      height: 40px;
      border-right: none;
      border-top: none;
      border-left: none;
    }

   .form>label{
       color: grey;
   }

   a{
    margin: 1rem;
    padding: 1rem;
    position: relative;
    background-color: $beige;
    border: olivedrab 1px solid;
    color: black;
    text-decoration: none;
    width: 40%;
    text-align: center;
   }
}